# NestJS config
PORT=3000

# Supabase (PostgreSQL)
SUPABASE_URL=tu_url_de_supabase
SUPABASE_KEY=tu_anon_key
DATABASE_URL=postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres

# MongoDB Atlas
MONGO_URI=mongodb+srv://[USER]:[PASS]@[CLUSTER].mongodb.net/rooms4ums?retryWrites=true&w=majority

# Redis (Upstash o Redis Cloud)
REDIS_HOST=tu_host_de_redis
REDIS_PORT=6379
REDIS_PASSWORD=tu_password

# Object Storage (Si usas Supabase Storage)
SUPABASE_BUCKET_NAME=avatars-u-otros
